# Ignore Python cache folder
__pycache__/

# Project-specific files
# Ignore all files in the following directories
data
temp
logs
pid
snippets
todo

# Operating System files
.DS_Store
Thumbs.db
Desktop.ini

# IDE-specific files
.idea/
.vscode/
.venv
*.iml
*.iws
*.ipr
*.suo
*.user

# Build artifacts
/build/
/dist/
/target/
*.class
*.jar
*.war
*.ear
*.o
*.pyc

# Dependency directories
node_modules/
vendor/
lib/
venv/

# Log files
*.log
